<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${saludo}"></h1>
    <ul>
        <li th:text="${usuario.nombre}"></li>
        <li th:text="${usuario.paterno}"></li>
        <li th:text="${usuario.materno}"></li>
        <li th:text="${usuario.email}"></li>
        <li th:text="${url}"></li>
    </ul>
</body>
</html>