<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${usuarioDto.titulo}"></title>
</head>
<body>
    <h1 th:text="${usuarioDto.saludo}"></h1>
    <ul>
        <li th:text="${usuarioDto.usuario.nombre}"></li>
        <li th:text="${usuarioDto.usuario.paterno}"></li>
        <li th:text="${usuarioDto.usuario.materno}"></li>
        <li th:text="${usuarioDto.usuario.email}"></li>
        <li th:if="${usuarioDto.usuario.url}" th:text="${usuarioDto.usuario.url}"></li>
        <li th:if="${usuarioDto.usuario.url==null}" th:text="${'sin url'}"></li>
    </ul>
</body>
</html>