<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${usuarioDto.titulo}"></title>
</head>
<body>
    <h1 th:text="${usuarioDto.saludo}"></h1>
    <ul>
        <li th:text="${usuarioDto.usuario.nombre}"></li>
        <li th:text="${usuarioDto.usuario.paterno}"></li>
        <li th:text="${usuarioDto.usuario.materno}"></li>
        <li th:text="${usuarioDto.usuario.email}"></li>
        <li th:if="${usuarioDto.usuario.url}" th:text="${usuarioDto.usuario.url}"></li>
        <li th:if="${usuarioDto.usuario.url==null}" th:text="${'sin url'}"></li>
    </ul>
    <a th:href="@{/listar}">Ver Listado</a>
    <br>
    <a th:href="@{/api/listar}" target="_blank">Json de Usuarios</a>
    <br>
    <a th:href="@{'/api/parametros/foo?mensaje=' + ${usuarioDto.titulo}}" target="_blank">
        Json con parámetros
    </a>
    <br>
    <a th:href="@{/api/parametros/foo?mensaje=Hola Desde ThymeLeaf}" target="_blank">
        Json con parámetros desde ThymeLeaf
    </a>
    <br>
    <a th:href="@{/api/parametros/foo(mensaje='Hola Desde ThymeLeaf 2')}" target="_blank">
        Json con parámetros desde ThymeLeaf 2
    </a>
    <br>
    <a th:href="@{/api/parametros/bar(texto='Petición con varios parámetros', codigo=86256108)}" target="_blank">
        Json con varios parámetros
    </a>
    <br>
    <a th:href="@{/api/var/baz/Variable de ruta recibida}" target="_blank">
        Variable de ruta
    </a>
    <br>
    <a th:href="@{'/api/var/baz/' + ${usuarioDto.saludo}}" target="_blank">
        Variable de ruta 2
    </a>
</body>
</html>