<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <div th:if="${usuarios.isEmpty()}" th:text="${'No hay lista de usuarios'}"></div>    
    <table th:if="${!usuarios.isEmpty()}">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario: ${usuarios}">
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.paterno}"></td>
                <td th:text="${usuario.materno}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/detalles}">Ir a la página detalles</a>
</body>
</html>